Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
configure~
doxyfile.stamp
doxygen.cfg
install-sh
libtool
ltmain.sh
m4
missing
.libs
/doc/html
*.pc
*.la
depcomp
.deps
.dirstamp
*.lo
*.o
*.1
/src/dbus-tool
